<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../../img/apple-icon.png">
  <link rel="icon" type="image/png" href="../../img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Hotels List </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <!-- CSS Files -->
  <link type="text/css" href="../../css/material-dashboard.css" rel="stylesheet" />
  <script src="../../js/core/jquery.min.js"></script>
  <script src="../../js/core/popper.min.js"></script>
  <script src="../../js/core/bootstrap-material-design.min.js"></script>
  <script src="../../js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Chartist JS -->
  <script src="../../js/plugins/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../../js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../../js/material-dashboard.js?v=2.1.0"></script>
  
</head>

<body class="dark-edition">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="black" data-image="../../img/sidebar-2.jpg">
      <div class="logo"><a href="#" class="simple-text logo-normal">
        Tour Management System
        </a></div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item   ">
            <a class="nav-link" href="/admin/dashboard">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/admin/profile">
              <i class="material-icons">person</i>
              <p>User Profile</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href='/admin/employees'>
              <i class="material-icons">people</i>
              <p>Employees List</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href='/admin/customers'>
              <i class="material-icons">people</i>
              <p>Customers List</p>
            </a>
          </li>
          <li class="nav-item active ">
            <a class="nav-link" href='/admin/hotels'>
              <i class="material-icons">hotel</i>
              <p>Hotel List</p>
            </a>
          </li>
        </ul>
      </div>
    </div>  <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:void(0)">Hotels</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <form class="navbar-form">
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <button type="submit" class="btn btn-default btn-round btn-just-icon">
                  <i class="material-icons">search</i>
                  <div class="ripple-container"></div>
                </button>
              </div>
            </form>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">
                  <i class="material-icons">dashboard</i>
                  <p class="d-lg-none d-md-block">
                    Stats
                  </p>
                </a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">
                  <i class="material-icons">person</i>
                  <p class="d-lg-none d-md-block">
                    Account
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Hotels List</h4>
                </div>
                <div class="card-body">
                  <a href="/admin/hotels/new" class="btn btn-info">New Hotel</a>
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          ID
                        </th>
                        <th>
                          Hotel Name
                        </th>
                        <th>
                          Hotel Type
                        </th>
                        <th>
                          Room Type
                        </th>
                        <th>
                          Hotel Image
                        </th>
                        <th>
                          Branch Name
                        </th>
                        <th>
                          Action
                        </th>
                      </thead>
                      <tbody>
                        <% for(var i=0; i < hotellist.length; i++){ %>
                        <tr>
                          <td>
                            <%= hotellist[i].hotelid %>
                          </td>
                          <td>
                            <%= hotellist[i].hotelname %>
                          </td>
                          <td>
                            <%= hotellist[i].hoteltype %>
                          </td>
                          <td>
                            <%= hotellist[i].roomtype %>
                          </td>
                          <td>
                            <%= hotellist[i].hotelimage %>
                          </td>
                          <td>
                            <%= hotellist[i].branchname %>
                          </td>
                          <td>
                            <a href="/admin/hotels/edit/<%= hotellist[i].hotelid %>" class="btn btn-primary">Edit</a>
                            <a href="/admin/hotels/delete/<%= hotellist[i].hotelid %>" class="btn btn-danger">Delete</a>
                          </td>
                        </tr>
                        <%  } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="https://www.creative-tim.com">
                  Creative Tim
                </a>
              </li>
              <li>
                <a href="https://creative-tim.com/presentation">
                  About Us
                </a>
              </li>
              <li>
                <a href="http://blog.creative-tim.com">
                  Blog
                </a>
              </li>
              <li>
                <a href="https://www.creative-tim.com/license">
                  Licenses
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright float-right" id="date">
            , made with <i class="material-icons">favorite</i> by
            <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
          </div>
        </div>
      </footer>
      <script>
        const x = new Date().getFullYear();
        let date = document.getElementById('date');
        date.innerHTML = '&copy; ' + x + date.innerHTML;
      </script>
    </div>
  </div>
</body>

</html>